.footer {
    /* Layout Properties */
    top: 1149px;
    left: 0px;
    width: 1920px;
    height: 348px;
    /* UI Properties */
    background: #F8F4F9 0% 0% no-repeat padding-box;
    border: 1px solid #1F343E;
    opacity: 1;
}