
.header {
    width: 100%;
    height: 80px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1F343E;
    opacity: 1;
};

.headerDropdown {
    width: 100%;
    height: 1000px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1F343E;
    opacity: 1;

    overflow: hidden;

}

.navStyle {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 

};

.headerContainerStyle {
    margin: 0px;
    width: 544px;
    display: flex;
    align-items: center;

};

.headerContainerStyleLeft {
    margin: 0px;
    width: 544px;
    display: flex;
    justify-content: flex-end;

};

.iconStyle {
    @media (max-width: 600px) {
        margin: 25px;
    }
};

.menuDesktop {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    width: 90%;
    height: 100%;

};

.linkStyle {
    a {
        font: normal normal normal 20px/32px Noto Sans;
        letter-spacing: 0px;
        color: #434A54;

        &:hover {
            color: #4EB3E3; 
        }
    }
};

.dropdownLinks {
    margin-left: 25px;
}

.mobileHeaderContainer {
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;

    transform: translateY(5px); /* Adjust value to desired effect */
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-bottom: 1px solid #1F343E;
    opacity: 1;
    
    margin-top: 0px;



};

.mobileIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
